<% layout('layouts/app') %>
<h2 class="text-center">Add Place</h2>
<div class="col-6 offset-3">
  <form
    action="/places"
    method="post"
    class="validate-form"
    enctype="multipart/form-data"
    novalidate
  >
    <div class="mb-3">
      <label for="title" class="form-label"> Title:</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="place[title]"
        placeholder="Input title here"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label"> Price:</label>
      <input
        type="number"
        class="form-control"
        id="price"
        name="place[price]"
        placeholder="Input price here"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="mb-3" class="form-label">
      <label for="location"> Location:</label>
      <input
        name="place[location]"
        id=""
        type="text"
        class="form-control"
        placeholder="Input location here"
        required
      ></input>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="mb-3" class="form-label">
      <label for="description"> Description:</label>
      <textarea
        name="place[description]"
        id=""
        cols="30"
        rows="5"
        class="form-control"
        placeholder="Input description here"
        required
      ></textarea>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="mb-3" class="form-label">
      <label for="image"> Image:</label>
      <input
        type="file"
        class="form-control"
        id="image"
        name="image"
        accept="image/*"
        multiple
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <button type="submit" class="btn btn-success mb-3">Save</button>
  </form>
</div>
