<footer class="footer bg-dark text-center mt-auto p-2">
  <div class="container">
    <span class="text-secondary"
      >&copy; BestPoint <%= new Date().getFullYear() %></span
    >
  </div>
</footer>
